<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RaChat App - Register</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="login-container">
    <h2>Create an Account</h2>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="Choose a Username" required>
      <input type="password" name="password" placeholder="Create a Password" required>
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/">Login here</a></p>
  </div>
</body>
</html>
